<footer>
  <p mt-8 text-xs op-30 text-center class="max-w-[80vw] mx-auto flex justify-center flex-wrap mb-[1em]">
    <a
      b-slate-link
      href="https://geminiprochat.com" target="_blank"
    >
      Gemini Pro Chat
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/babaohuang/GeminiProChat" target="_blank"
    >
      Source Code
    </a>
    {import.meta.env.PARTNER_LINK1 && import.meta.env.PARTNER_LINK_TITLE1 && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK1} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE1}
        </a>
      </>
    )}
    {import.meta.env.PARTNER_LINK2 && import.meta.env.PARTNER_LINK_TITLE2 && (
      <>
        <span px-1>|</span>
        <a
          b-slate-link
          href={import.meta.env.PARTNER_LINK2} target="_blank"
        >
          {import.meta.env.PARTNER_LINK_TITLE2}
        </a>
      </>
    )}
  </p>
</footer>
