---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">我是 LWP</span>
    <span class="gpt-subtitle">可回答任何问题</span>
  </div>
  <p mt-1 op-60>Based on Google Gemini Pro API.</p>
</header>
