---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">金牛座</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">聊天</a>
  </div>
  
</header>
