---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://chat.isoy.cloud/" class="gpt-title">Gemini Pro</a>
    <a href="https://chat.isoy.cloud/" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://chat.isoy.cloud/">EASY AI.</a>
    <a href="https://chat.isoy.cloud/" class="font-bold">Developer Adonis</a>
  </p>
</header>
