---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://geminiprochat.com" class="gpt-title">Gemini Pro</a>
    <a href="https://geminiprochat.com" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    Based on Gemini Pro API.
    <a href="https://blog.geminiprochat.com/posts/what-is-gemini">What is Gemini?</a>
  </p>
</header>
